simplified_ui false
pane_frames true

layout {
    tab name="tab 1" focus=true borderless=false

    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zjstatus" {
                hide_frame_for_single_pane "false"

                command_host_command    "uname -n"
                command_host_format     "{stdout}"
                command_host_interval   "0"
                command_host_rendermode "static"

                command_user_command    "whoami"
                command_user_format     "{stdout}"
                command_user_interval   "10"
                command_user_rendermode "static"
                
                format_left                "{mode} #[fg=bright_black]󰇘 {tabs} #[fg=bright_black]󰇘 #[fg=green]{swap_layout}"
                format_center              "#[fg=bright_black]󰇘 #[fg=cyan]{session} #[fg=bright_black]󰇘"
                format_right               "#[fg=bright_black]󰇘 {command_git_branch} 󰇘 {command_user}@{command_host} #[fg=bright_black]󰇘 #[fg=blue]{datetime}"
                // format_right "#[fg=#89dceb]#[fg=#11111b,bg=#89dceb] #[fg=#89dceb,bg=black] {command_user}@{command_host}#[fg=#313244]#[fg=#74c7ec]#[fg=#11111b,bg=#74c7ec]📅 #[fg=#74c7ec,bg=black] {datetime}#[fg=#313244] "

                format_space               "#[fg=yellow] "
                hide_frame_for_single_pane "false"
                border_enabled             "false"
                mode_normal                "#[fg=yellow]NORMAL"
                mode_locked                "#[fg=red]LOCKED"
                mode_tmux                  "#[fg=cyan]TMUX"
                mode_resize                "#[fg=red]RESIZE"
                mode_pane                  "#[fg=cyan]PANE"
                mode_tab                   "#[fg=cyan]TAB"
                mode_scroll                "#[fg=green]SCROLL"
                mode_enter_search          "#[fg=blue]{name}"
                mode_search                "#[fg=blue]SEARCH"
                mode_rename_tab            "#[fg=red]{name}"
                mode_rename_pane           "#[fg=red]{name}"
                mode_session               "#[fg=green]SESSION"
                mode_move                  "#[fg=red]MOVE"
                mode_prompt                "#[fg=green]PROMPT"

                // formatting for inactive tabs
                tab_normal                 "#[fg=#6e7a99]{name}"
                tab_normal_fullscreen      "#[fg=#6e7a99]{name}"
                tab_normal_sync            "#[fg=#6e7a99]{name}"

                // formatting for the current active tab
                tab_active                 "#[fg=cyan]{name}#[fg=yellow]{floating_indicator}"
                tab_active_fullscreen      "#[fg=yellow]{name}#[fg=yellow]{fullscreen_indicator}"
                tab_active_sync            "#[fg=green]{name}#[fg=yellow]{sync_indicator}"

                // separator between the tabs
                tab_separator              "#[fg=bright_black]:"

                // format when renaming a tab
                tab_rename                 "#[fg=red] {index} {name} {floating_indicator} "

                // indicators
                tab_sync_indicator         "  "
                tab_fullscreen_indicator   "  "
                tab_floating_indicator     " 󰉧 "

                // git branch indicator
                command_git_branch_command     "git branch --show-current"
                command_git_branch_format      "#[fg=green]{stdout}#[fg=white]local#[fg=bright_black]:#[fg=red]main #[fg=green]"
                command_git_branch_interval    "1"
                command_git_branch_rendermode  "static"

                // limit tab display count
                tab_display_count          "3"  // limit to showing 3 tabs
                tab_truncate_start_format  "#[fg=red,bg=black] < + {count} ..."
                tab_truncate_end_format    "#[fg=red,bg=black] ... + {count} >"

                datetime                   "#[fg=blue]{format}"
                // datetime_format            "%A, %d %b %Y %H:%M"
                datetime_format            " %H:%M"
                datetime_timezone          "Asia/Kolkata"
            }
        }
    }

    swap_tiled_layout name="vertical" {
        tab max_panes=5 {
            pane split_direction="vertical" {
                pane
                pane { children; }
            }
        }
        tab max_panes=8 {
            pane split_direction="vertical" {
                pane { children; }
                pane { pane; pane; pane; pane; }
            }
        }
        tab max_panes=12 {
            pane split_direction="vertical" {
                pane { children; }
                pane { pane; pane; pane; pane; }
                pane { pane; pane; pane; pane; }
            }
        }
    }

    swap_tiled_layout name="horizontal" {
        tab max_panes=5 {
            pane
            pane
        }
        tab max_panes=8 {
            pane {
                pane split_direction="vertical" { children; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
            }
        }
        tab max_panes=12 {
            pane {
                pane split_direction="vertical" { children; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
            }
        }
    }

    swap_tiled_layout name="stacked" {
        tab min_panes=5 {
            pane split_direction="vertical" {
                pane
                pane stacked=true { children; }
            }
        }
    }

    swap_floating_layout name="staggered" {
        floating_panes
    }

    swap_floating_layout name="enlarged" {
        floating_panes max_panes=10 {
            pane { x "5%"; y 1; width "90%"; height "90%"; }
            pane { x "5%"; y 2; width "90%"; height "90%"; }
            pane { x "5%"; y 3; width "90%"; height "90%"; }
            pane { x "5%"; y 4; width "90%"; height "90%"; }
            pane { x "5%"; y 5; width "90%"; height "90%"; }
            pane { x "5%"; y 6; width "90%"; height "90%"; }
            pane { x "5%"; y 7; width "90%"; height "90%"; }
            pane { x "5%"; y 8; width "90%"; height "90%"; }
            pane { x "5%"; y 9; width "90%"; height "90%"; }
            pane focus=true { x 10; y 10; width "90%"; height "90%"; }
        }
    }

    swap_floating_layout name="spread" {
        floating_panes max_panes=1 {
            pane {y "50%"; x "50%"; }
        }
        floating_panes max_panes=2 {
            pane { x "1%"; y "25%"; width "45%"; }
            pane { x "50%"; y "25%"; width "45%"; }
        }
        floating_panes max_panes=3 {
            pane focus=true { y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; }
            pane { x "50%"; y "1%"; width "45%"; }
        }
        floating_panes max_panes=4 {
            pane { x "1%"; y "55%"; width "45%"; height "45%"; }
            pane focus=true { x "50%"; y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; height "45%"; }
            pane { x "50%"; y "1%"; width "45%"; height "45%"; }
        }
    }
}
